*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  box-sizing: border-box;
}

.heading-primary {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 5rem;
}

.heading-secondary {
  font-size: 3rem;
  font-family: "Sorts Mill Goudy", serif;
}

p {
  font-size: 2rem;
  letter-spacing: 1px;
}

figcaption {
  font-size: 1.2rem;
  text-align: center;
}

.u-container {
  max-width: 120rem;
  margin: 0 auto;
  height: inherit;
}

.btn-text:link, .btn-text:visited {
  font-size: 2.2rem;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #fff;
  color: #4e4a4a;
  transform: translateY(-2px);
}
.btn-text:active {
  transform: translateY(0);
}

.home-minigal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 56.25em) {
  .home-minigal {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.home-minigal__photo {
  border-radius: 3px;
  position: absolute;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
}
.home-minigal__photo--1 {
  width: 25rem;
  top: -30rem;
  left: 25%;
  z-index: 5;
}
@media (max-width: 56.25em) {
  .home-minigal__photo--1 {
    width: 45%;
    margin-bottom: 5rem;
  }
}
@media (max-width: 37.5em) {
  .home-minigal__photo--1 {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}
.home-minigal__photo--2 {
  width: 30rem;
  top: -15rem;
  right: 0;
  z-index: 10;
}
@media (max-width: 56.25em) {
  .home-minigal__photo--2 {
    width: 45%;
    margin-bottom: 5rem;
  }
}
@media (max-width: 37.5em) {
  .home-minigal__photo--2 {
    width: 100%;
    margin-bottom: 2.5rem;
  }
}
.home-minigal__photo--3 {
  width: 35rem;
  top: 3.5rem;
  left: 0;
  z-index: 15;
}
@media (max-width: 56.25em) {
  .home-minigal__photo--3 {
    width: 100%;
  }
}
@media (max-width: 56.25em) {
  .home-minigal__photo {
    position: relative;
    top: 0;
    left: 0;
  }
}
.home-minigal__photo:hover {
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 20;
}
@media (max-width: 56.25em) {
  .home-minigal__photo:hover {
    transform: none;
  }
}

.side-nav {
  font-size: 2rem;
  list-style: none;
  margin-top: 1.5rem;
  position: sticky;
}
@media (max-width: 62.5em) {
  .side-nav {
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 42em) {
  .side-nav {
    flex-direction: column;
    align-items: center;
  }
}
.side-nav__item {
  position: relative;
}
.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 2.5rem;
  transform: translate(-50%, -50%) scale(0);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s;
}
.side-nav__link:link, .side-nav__link:visited {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 5rem;
  transition: all 0.2s;
}
.side-nav__item:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
.side-nav__item:hover > .side-nav__link {
  transform: scale(1.1) translateX(2px);
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__copyright {
  font-size: 1.4rem;
}
.footer__link--copyright:link, .footer__link--copyright:visited {
  display: inline-block;
  color: #FDFCF9;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.5rem;
}
.footer__link--copyright:active, .footer__link--copyright:hover {
  color: #a19999;
}
.footer__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: #FDFCF9;
  margin-left: 2.5rem;
}
.footer__link--social:active .footer__icon, .footer__link--social:hover .footer__icon {
  fill: #a19999;
}

.header {
  margin: 0 auto;
}
.header__box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  padding: 3rem 0;
}
.header__content {
  display: flex;
  align-items: baseline;
}
@media (max-width: 43.75em) {
  .header__content {
    flex-direction: column;
  }
}
.header__logo {
  height: 10rem;
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .header__logo {
    height: 8rem;
  }
}
@media (max-width: 43.75em) {
  .header__logo {
    margin-bottom: 1rem;
  }
}
.header__label {
  line-height: 1;
  font-size: 10rem;
}
@media (max-width: 56.25em) {
  .header__label {
    font-size: 6rem;
  }
}
@media (max-width: 43.75em) {
  .header__navbox {
    position: absolute;
    top: 5rem;
    right: 5rem;
  }
}

.navigation--corner {
  height: 0;
}
.navigation__checkbox {
  display: none;
}
.navigation__button {
  perspective: 150rem;
  -moz-perspective: 150rem;
  z-index: 50;
  background-color: rgba(36, 36, 36, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.2s;
}
.navigation__button--corner {
  position: fixed;
  top: 6rem;
  right: 6rem;
}
@media (max-width: 56.25em) {
  .navigation__button--corner {
    top: 3rem;
    right: 3rem;
  }
}
@media (max-width: 37.5em) {
  .navigation__button--corner {
    position: absolute;
  }
}
.navigation__button--header {
  position: relative;
}
.navigation__icon {
  position: absolute;
}
.navigation__icon, .navigation__icon::after, .navigation__icon::before {
  width: 3rem;
  height: 2px;
  background-color: #FDFCF9;
  transition: transform 0.2s;
}
.navigation__icon::after, .navigation__icon::before {
  content: "";
  position: absolute;
  left: 0;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover {
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.6);
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 40;
  height: 100vh;
  overflow-y: hidden;
  width: 0;
  transition: all 0.3s;
  background-image: linear-gradient(to bottom left, #FDFCF9, #cfc9c6);
}
.navigation__nav {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s 0.3s;
}
.navigation__image {
  max-width: 30rem;
  margin-bottom: 2rem;
}
.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation__item {
  padding: 1rem 0;
}
.navigation__link:link, .navigation__link:visited {
  z-index: 45;
  display: inline-block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #4e4a4a;
  text-decoration: none;
  transition: all 0.4s;
  position: relative;
}
.navigation__link:link span, .navigation__link:visited span {
  display: inline-block;
}
.navigation__link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #4e4a4a;
  transition: transform 0.2s;
  transform: scale(0);
}
.navigation__link:active::after, .navigation__link:hover::after {
  transform: scale(1);
}
.navigation__checkbox:checked + .navigation__button {
  transform: rotateY(180deg);
}
@media (max-width: 37.5em) {
  .navigation__checkbox:checked + .navigation__button {
    position: fixed;
  }
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg);
}
.navigation__checkbox:checked ~ .navigation__background {
  width: 100%;
}
.navigation__checkbox:checked ~ .navigation__background .navigation__nav {
  min-height: 100vh;
  display: flex;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}
@media (max-width: 56.25em) {
  body.modal-open {
    position: fixed;
  }
}

.paper-background {
  height: 100%;
  min-height: 100vh;
  padding: 0 5rem 5rem;
  background-image: linear-gradient(to bottom left, #FDFCF9, #cfc9c6);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #4e4a4a;
}

.homepage {
  padding: 8rem 5rem 5rem;
}
@media (max-width: 37.5em) {
  .homepage {
    padding: 10rem 3rem 3rem;
  }
}

.photo-background {
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to top, rgba(36, 36, 36, 0.95), rgba(36, 36, 36, 0.95)), url("../img/hero-2000.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #FDFCF9;
}

.about__main {
  display: flex;
  background-image: linear-gradient(to top right, rgba(36, 36, 36, 0.85), rgba(78, 74, 74, 0.85)), url("../img/about-hero-lg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
@media (max-width: 62.5em) {
  .about__main {
    flex-direction: column;
  }
}
.about__sidebar {
  flex: 0 0 18%;
  background-color: rgba(36, 36, 36, 0.7);
  position: relative;
}
.about__content {
  flex: 1;
  padding: 2rem 5rem;
}

.about-text {
  padding: 5rem;
  background-color: rgba(253, 252, 249, 0.7);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.about-text__photo {
  width: 30rem;
  padding: 1rem;
}
.about-text__img {
  margin-bottom: 0.5rem;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.8rem 2.4rem;
}

.gal-content {
  background-image: linear-gradient(to bottom, rgba(78, 74, 74, 0.8), rgba(36, 36, 36, 0.8)), url("../img/desk-hero-lg.jpg");
  height: 30vw;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  padding: 5rem;
}
.gal-content__text {
  width: 40%;
  background-color: #cfc9c6;
  padding: 6rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home__main {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .home__main {
    flex-direction: column;
  }
}
.home__column {
  width: 45%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 56.25em) {
  .home__column {
    width: 80%;
    align-items: center;
  }
}
@media (max-width: 37.5em) {
  .home__column {
    width: 100%;
  }
}
@media (max-width: 56.25em) {
  .home__column--content {
    margin-bottom: 5rem;
  }
}

.home-content {
  max-width: 50rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home-content__img {
  width: 100%;
  max-width: 60rem;
}
.home-content__heading {
  font-style: italic;
  font-weight: 400;
  margin: 3rem 0;
  line-height: 1.2;
}
@media (max-width: 56.25em) {
  .home-content__heading {
    text-align: center;
  }
}
.home-content__heading--main {
  display: none;
}
.home-content__heading--sub {
  display: block;
}
.home-content__text {
  margin-bottom: 2.5rem;
}
.home-content__btn {
  align-self: baseline;
}

/*# sourceMappingURL=style.css.map */
