// COLOURS:

$color-black: #000;
$color-grey-dark: #242424;
$color-grey-pencil: #4e4a4a;
$color-grey-light: #a19999;
$color-white: #fff;
$color-white-paper: #FDFCF9;
$color-grey-paper: #cfc9c6;

// FONTS

$font-color-primary-white: $color-white-paper;
$default-font-size: 2rem;
$primary-heading-font-size: 5rem;

$font-primary: 'Montserrat Alternates', sans-serif;
$font-secondary: 'Sorts Mill Goudy', serif;
$font-tertiary: 'Playfair Display', serif;
$font-quaternary: 'Source Sans Pro', sans-serif;
