

// COLOURS:

$color-black: #000;
$color-grey-dark: #242424;
$color-grey-pencil: #4e4a4a;
$color-grey-light: #a19999;
$color-white: #fff;
$color-white-paper: #FDFCF9;
$color-grey-paper: #cfc9c6;

$color-cream-1: #f2e7d6;
$color-cream-2: #eeddcc;
$color-cream-3: #ccbbaa;

$color-red-1: #662a25;
$color-red-2: #551c1c;
$color-red-3: #391c1c;

$color-jade-1: #c6e3aa;
$color-jade-2: #aac68e;
$color-jade-3: #8eaa71;

$color-gold-1: #c6aa71;
$color-gold-2: #aa8e55;
$color-gold-3: #8e7139;

$color-blue-1: #5580d5;
$color-blue-2: #2b55aa;
$color-blue-3: #002b80;

$color-exp-1: #a25917;
$color-exp-2: #da8e31;

// FONTS

$font-color-primary: $color-grey-dark;
$font-color-heading: $color-blue-3;
$font-color-nav: $color-white-paper;
$default-font-size: 2.4rem;
$default-font-size-sm: 2rem;
$primary-heading-font-size: 3.8rem;

$gutter-pg-lg: 6rem;
$gutter-pg-md: 3rem;
$gutter-pg-sm: 2rem;

$font-primary: 'Montserrat Alternates', sans-serif;
$font-secondary: 'Sorts Mill Goudy', serif;
$font-tertiary: 'Playfair Display', serif;
$font-quaternary: 'Source Sans Pro', sans-serif;

$bg-jade: linear-gradient( $color-jade-1, $color-jade-2);
$bg-blue: linear-gradient(to bottom left, $color-blue-2, $color-blue-3);
$bg-red: linear-gradient( $color-red-1, $color-red-2);
$bg-cream: linear-gradient( $color-cream-1, $color-cream-2);
$bg-gold: linear-gradient( $color-gold-1, $color-gold-2);

$shadow-red-small: 0 .5rem 1rem rgba($color-red-3, .2);
$shadow-red-large: 0 1rem 2rem rgba($color-red-3, .2);
$shadow-grey-small: 0 .5rem 1rem rgba($color-grey-dark, .5);
$shadow-blue-small: 0 .5rem 1rem rgba($color-blue-3, .4);