// COLOURS:

$color-black: #000;
$color-grey-dark: #242424;
$color-grey-pencil: #4e4a4a;
$color-grey-light: #a19999;
$color-white: #fff;
$color-paper-white: #FDFCF9;
$color-paper-grey: #cfc9c6;

// FONTS

$font-color-primary-white: $color-paper-white;
$default-font-size: 2rem;
$heading-font-size: 4rem;

$font-primary: 'Actor', sans-serif;
$font-heading: 'Cardo', serif;
