@use "../abstracts/variables" as v;

.page-container {
    display: grid;
    grid-template-rows: [header-start] 10rem [header-end main-start] min-content [main-end];
    grid-template-columns: [page-start] minmax(6rem, 1fr) [center-start]  minmax(min-content, 120rem) [center-end] minmax(6rem, 1fr) [page-end];
    row-gap: 5vw;
    padding: 2rem 0;
}

.main-container {
    grid-column: center-start / center-end;
}

// .full-container {
//     grid-column: page-start / page-end;
//     padding: 2rem;
// }