@use "../abstracts/variables"as v;
@use "../abstracts/mixins"as m;

.footer {
  grid-column: page-start / page-end;
  background-image: v.$bg-red;
  padding: 3.5rem 0;
  color: v.$color-white-paper;
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    text-align: center;
  }

  &__cta {
    &>* {
      font-size: 1.6rem;
    }
      @include m.respond(tab-port) {
        text-align: center;
      }

  }

  &__email {

    &:link,
    &:visited {
      display: inline-block;
      color: v.$color-white;
      font-family: v.$font-primary;
      font-weight: 200;
      text-decoration: none;
      font-size: 2rem;
    }

    &:active,
    &:hover {
      color: v.$color-grey-light;
    }
  }



  &__copyright {
    font-size: 1.4rem;
    align-self: end;
    margin-top: 1.5rem;
  }

}