@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.footer {
  padding: 3.5rem 0;
  border-top: 1px solid v.$color-grey-light;
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include m.respond(phone) {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    row-gap: 3.5rem;
  }

  &__cta {
    & > * {
      font-size: 1.6rem;
    }
  }

  &__email {
    &:link,
    &:visited {
      display: inline-block;
      color: v.$font-color-primary-white;
      font-weight: 700;
      text-decoration: none;
      font-size: 1.5rem;
    }

    &:active,
    &:hover {
      color: v.$color-grey-light;
    }
  }


  &__stamp {
    justify-self: end;

    @include m.respond(phone) {
      justify-self: center;
    }
  }

  &__logo {
    height: 8rem;
  }

  &__copyright {
    font-size: 1.4rem;
    align-self: end;
    margin-top: 1.5rem;
  }

}
