@use "../abstracts/variables"as v;
@use "../abstracts/mixins"as m;

.header {
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(v.$color-red-1, .88), rgba(v.$color-red-2, .88)), url(../img/print-jen.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: v.$shadow-grey-small;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    padding: 3.4rem 0 2rem 0;

    @include m.respond(tab-port) {
      gap: 8rem;
    }

    @include m.respond(phone) {
      // align-items: center;
      padding: 3rem;
    }
  }

  &__title {
    color: v.$color-cream-1;
    font-family: v.$font-primary;
  }

  &__logo {
    width: 32.5rem;

    @include m.respond(tab-port) {
      width: 20rem;
    }

    @include m.respond(phone) {
      width: 12rem;
      margin-bottom:2.5rem;
    }
  }

  &__heading {
    font-size: 4.5rem;;
    letter-spacing: 2px;
    font-weight: 300;
    line-height: 1.4;

    @include m.respond(phone) {
      font-size: 2.8rem;
    }
  }

  &__sub-heading {
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.2;

    @include m.respond(phone) {
      font-size: 1.6rem;
    }
  }

}