@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

  &__logo {
    max-height: 8rem;
  }
}
