@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.header {
  grid-column: 1 / -1;
  background-image: linear-gradient(rgba(v.$color-red-1, .88), rgba(v.$color-red-2, .88)), url(../../img/print-jen.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: v.$shadow-grey-small;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 14rem;
    padding: 2rem 0;

    @include m.respond(tab-port) {
      gap: 8rem;
    }

    @include m.respond(phone) {
      // align-items: center;
      padding: 3rem;
    }
  }

  &__logo {
    width: 20rem;

    @include m.respond(phone) {
      // width: 12rem;
    }
  }

}
