@use "../abstracts/variables" as v;

.photo-background {
  min-height: 100vh;
  background-image: linear-gradient(to top, rgba(v.$color-grey-dark, 0.95), rgba(v.$color-grey-dark, 0.95)), url("../img/bg-art.jpg");
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;
  color: v.$font-color-primary-white;
}
