@use "../abstracts/variables" as v;

.photo-background {
  min-height: 100vh;
  background-image: linear-gradient(to top, rgba(v.$color-jade-2, 0.9), rgba(v.$color-jade-1, 0.9)), url("../img/bg-art.jpg");
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;
  color: v.$color-red-2;
}
