@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.lightbox {
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(v.$color-grey-dark, .95);
    display: grid;
    justify-items: center;
    align-items: center;

    overflow-y: auto;

    &__container {
        display: grid;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 82rem;
        @include m.respond(tab-port) {
            max-width: 90%;
          }

        &.out {
                        transition: all .35s;
            transform: translateY(20%) scale(0%);
        }
    }

    &--hidden {
        display: none;

    }

    &__img {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            animation: imageUp .3s ease-in-out;
            width: 100%;
    }

    &__close {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: start;
        justify-self: end;
        z-index: 30;
        font-size: 5rem;
        color: v.$color-grey-pencil;
        cursor: pointer;
        border: none;
        background: none;
        display: flex;
        position: absolute;
        margin-top: 1.2rem;
        margin-right: 2rem;

        &:hover {
            color: v.$color-grey-light;
        }
    }
}