@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.home-minigal {
  position: relative;
  display: flex;
  flex-direction: column;
align-items: center;

@include m.respond(tab-port) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

  &__photo {
    border-radius: 3px;
    position: absolute;
    box-shadow: 0 1.5rem 3rem rgba(v.$color-black, .2);

    &--1 {
      width: 25rem;
      top: -30rem;
      left: 25%;
      z-index: 5;

      @include m.respond(tab-port) {
        width: 45%;
        margin-bottom: 5rem;
      }

      @include m.respond(phone) {
        width: 100%;
        margin-bottom: 2.5rem;
      }
    }

    &--2 {
      width: 30rem;
      top: -15rem;
      right: 0;
      z-index: 10;

      @include m.respond(tab-port) {
        width: 45%;
        margin-bottom: 5rem;
      }

      @include m.respond(phone) {
        width: 100%;
        margin-bottom: 2.5rem;
      }
    }

    &--3 {
      width: 35rem;
      top: 3.5rem;
      left: 0;
      z-index: 15;

      @include m.respond(tab-port) {
        width: 100%;
      }
    }

    @include m.respond(tab-port) {
      position: relative;
      top: 0;
      left: 0;
    }

    &:hover {
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 2.5rem 4rem rgba(v.$color-black, .5);
      z-index: 20;

      @include m.respond(tab-port) {
        transform: none;
      }
    }
  }
}
