@use "../abstracts/mixins" as m;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include m.respond(big-desk) {
    font-size: 75%;
  }
  @include m.respond(tab-land) {
    font-size: 56.25%;
  }
  @include m.respond(tab-port) {
    font-size: 50%;
  }

  height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
}

img {
  width: 100%;
  display: block;
}