@use "../abstracts/variables" as v;

body {
  font-family: v.$font-quaternary;
  font-weight: 300;
  line-height: 1.7;
  box-sizing: border-box;
}

.heading-primary {
  font-family: v.$font-primary;
  font-size: v.$primary-heading-font-size;
}

.text-white {
  // color: v.$font-color-primary-white;
}

p {
  font-size: v.$default-font-size;
  letter-spacing: 1px;
}
