@use "../abstracts/variables" as v;

body {
  font-family: v.$font-quaternary;
  font-weight: 300;
  line-height: 1.7;
  box-sizing: border-box;
  color: v.$font-color-primary;
}

.heading-primary {
  font-family: v.$font-secondary;
  font-size: v.$primary-heading-font-size;
  font-weight: 400;
}

.heading-secondary {
  font-size: 3rem;
  font-family: v.$font-primary;
  // color: v.$font-color-heading;
}

p {
  font-size: v.$default-font-size;
  letter-spacing: 1px;
}

figcaption {
  font-size: 1.6rem;
  text-align: center;
  color: v.$color-grey-paper;
}
