@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.u--sm-p-3 {
  @include m.respond(phone) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.u--flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}