@use "../abstracts/variables"as v;
@use "../abstracts/mixins"as m;

.about {

  &__container {
    display: grid;
    grid-template-rows: min-content;
    grid-row-gap: 4vw;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10vw;
    grid-row-gap: 2vw;

    @include m.respond(tab-port) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    grid-column: 1 / -1;
  }

  &__text {
    grid-column: 1 / -1;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 1rem 0;
  }

}