@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.contact {

    &__container {
        display: grid;
        row-gap: 2vw;

        & > * {
            grid-column: contact-start / contact-end;
        }
    }

    &__text {
        max-width: 80rem;
        justify-self: center;
    }

    &__btn {
        justify-self: center;
        margin-top: 6rem;
    }
}