@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;


.home {

  &__main {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8rem;

    @include m.respond(tab-port) {
      flex-direction: column;
    }

  }

  &__column {
    width: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include m.respond(tab-port) {
      width: 80%;
      align-items: center;
    }

    @include m.respond(phone) {
      width: 100%;
    }

    &--content {
      @include m.respond(tab-port) {
        margin-bottom: 5rem;
      }
    }
  }
}
.home-content {
  max-width: 50rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__img {
    width: 100%;
    max-width: 60rem;
  }

  &__heading {
    font-style: italic;
    font-weight: 400;
    margin: 3rem 0;
    line-height: 1.2;

    @include m.respond(tab-port) {
      text-align: center;
    }

    &--main {
      display: none;
    }

    &--sub {
      display: block;
    }
  }

  &__text {
    margin-bottom: 2.5rem;
  }

  &__btn {
    align-self: baseline;
  }
}
